{% extends "base.html" %}
{% block title %}Профиль{% endblock %}
{% block header %}Профиль{% endblock %}
{% block content %}



<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                    <div class="card">
                            <div class="card-body">
                                    <div class="h2">
                                        {{ profile.get_full_name }}
                                    </div>
                                    <div class="h3 text-muted">
                                         Автор: <a href="/{{ profile.username }}/"> {{ profile.username }} </a><br>
                                    </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                            Подписчиков: XXX <br />
                                            Подписан: XXX
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                                {{ Post.object.count }}
                                            </div>
                                    </li>
                            </ul>
                    </div>
            </div>

            <div class="col-md-9">
{% for post in page %}
                <!-- Начало блока с отдельным постом -->
                    <div class="card mb-3 mt-1 shadow-sm">
                            <div class="card-body">
                                    <p class="card-text">
                                        <!-- Ссылка на страницу автора в атрибуте href; username автора в тексте ссылки -->
                                        <a href="/{{ post.author.username }}/">{{ post.author.username }}<strong class="d-block text-gray-dark"></strong></a>
                                        <!-- Текст поста -->

                                        <p> {{ post.name|linebreaksbr }}</p>

                                </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group ">

                                                    <!-- Ссылка на страницу записи в атрибуте href-->
                                                    <a class="btn btn-sm text-muted" href="/{{ post.author.username }}/{{ post.id }}" role="button">Открыть желание</a>
                                                    <!-- Ссылка на редактирование, показывается только автору записи -->
                                                    <a class="btn btn-sm text-muted" href="/{{ post.author.username }}/{{ post.id }}/edit" role="button">Редактировать</a>
                                            </div>
                                            <!-- Дата публикации  -->
                                            <small class="text-muted">Дата публикации: {{ post.pub_date|date:"d M Y" }}</small>
                                    </div>
                            </div>
                    </div>
                <!-- Конец блока с отдельным постом -->

                <!-- Остальные посты -->

                {% endfor %}
                {% include "paginator.html" %}
     </div>
    </div>
</main>
{% endblock %}